* {
  font-family: Material Design Icons, JetBrainsMono Nerd Font, Iosevka Nerd Font;
  font-size: 19px;
}

window#waybar {
  background-color: rgba(26, 27, 38, 0.5);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.1;
}

#window {
  color: #64727d;
}

#clock,
#custom-media,
#mode,
#tray,
#language,
#custom-lock,
#workspaces,
#custom-power-menu,
#custom-launcher,
#custom-spotify,
#custom-weather.default {
  color: #e5e5e5;
  border-radius: 6px;
  padding: 2px 10px;
  background-color: #252733;
  border-radius: 8px;
  font-size: 18.5px;

  margin-left: 4px;
  margin-right: 4px;

  margin-top: 8.5px;
  margin-bottom: 8.5px;
}

#workspaces button {
  color: #7a95c9;
  box-shadow: inset 0 -3px transparent;

  padding-right: 10px;
  padding-left: 4px;

  margin-left: 0.1em;
  margin-right: 0em;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.active {
  color: #ecd3a0;
  padding-left: 1px;
  padding-right: 12px;
  margin-left: 0em;
  margin-right: 0em;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#custom-launcher {
  margin-left: 12px;


  padding-right: 14px;
  padding-left: 14px;

  font-size: 22px;

  color: #7a95c9;

  margin-top: 8.5px;
  margin-bottom: 8.5px;
}
#language{
  margin-left: 5px;
  padding-right: 10px;
  padding-left: 10px;
  color: #7a95c9;
  margin-top: 8.5px;
  margin-bottom: 8.5px;
}
#pulseaudio,
#network {
  background-color: #252733;
  padding: 1em 1em;

  padding-left: 20px;
  padding-right: 7.5px;

  padding-top: 5px;
  padding-bottom: 5px;

  margin-top: 7px;
  margin-bottom: 7px;

  font-size: 20px;
}

#pulseaudio {
  padding-right: 0.2em;
  color: #81A1C1;
  border-radius: 0px 8px 8px 0px;
  padding-left: 8px;
  font-size: 22px;
}

#pulseaudio.muted {
  color: #fb958b;
  padding-left: 9px;
  font-size: 22px;
}

#network {
  padding-left: 0.2em;
  color: #5E81AC;
  border-radius: 8px 0px 0px 8px;
  padding-left: 12px;
  padding-right: 14px;
  font-size: 20px;
}

#network.disconnected {
  color: #fb958b;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#clock {
  color: #8a909e;
  font-family: Iosevka Nerd Font;
  font-weight: bold;
  margin-top: 7px;
  margin-bottom: 7px;
}

#custom-power-menu {
  color: #e78284;
  margin-right: 12px;
  border-radius: 8px;
  padding: 0 10px 0 6.8px;
  margin-top: 7px;
  margin-bottom: 7px;
}

tooltip {
  font-family: Iosevka Nerd Font;
  border-radius: 15px;
  padding: 15px;
  background-color: #1f232b;
}

tooltip label {
  font-family: Iosevka Nerd Font;
  padding: 5px;
}

label:focus {
  background-color: #1f232b;
}

#custom-spotify {
  color: #abb2bf;
}
